@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@500&display=swap');

body {
    /* max-width:100%; */
    margin: 0px;
    background-color: rgb(79, 82, 85);
    text-decoration: none;
    font-family: 'Hind', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
/* Nav Bar */
/* a {
    text-decoration: solid;
    font-family: 'Hind', sans-serif;
    font-family: 'Montserrat', sans-serif;
} */

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 60px;
    padding: 0px 350px;
    border-bottom-style: solid;
    border-bottom-color: rgb(5, 247, 5);
    border-bottom-width: 1px;
}

nav a {
    color: rgb(101, 102, 101);
    padding: 20px;
    font-size: 17px;
    text-decoration: none;
    margin:0px 17px
}

.logo {
    height: 17px;
    padding: 20px;
}

#razer {
    height: 40px;
    padding: 10px 
}
/* End of Navbar */
/* Header */

header {
    text-align: center;
    color: white;
    padding: 13px;
    font-size: 15px;
}

header a {
    text-decoration: none;
    color: white;
}
/* end of header */
/* handheld */

.onehundred {
    width: 100%;
    padding: 0px 0px 10px;
}

.psp {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 7%;
    bottom: 7%;
    width: 100%;
}

.header {
    text-decoration: none;
    color: white;
    font-size: 51px;
    text-transform: uppercase;
}

.subhead {
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    
}

.lmb {
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin: 50px;
}

#arrow {
    font-size: 25px;
    color: rgb(9, 235, 9);
    margin-left: -50px;
    text-decoration: none;
}
/* end of handheld */
/* kitsune */

/* end of kitsune */
/* school */

/* end of school */
/* 6box */


.onehundredl {
    width: calc(100% - 5px);
    padding: 0px 5px 10px 0px;
}

.container {
    display: flex;
    justify-content: space-between;

}

.header2 {
    text-decoration: none;
    color: white;
    font-size: 45px;
    text-transform: uppercase;
}
 .subhead2 {
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
 }

 .lmb2 {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 50px;
 }
 
 #arrow2 {
    font-size: 20px;
    color: rgb(9, 235, 9);
    margin-left: -50px;
    text-decoration: none;
 }

 .onehundredr {
    width: calc(100% - 5px);
    padding: 0px 0px 10px 5px;
 }

/* footer */

 footer {

    background-color: rgb(24, 27, 27);

 }

 .list {
    list-style-type: none;
    padding: 2px;
 
 }

 .list a {
    text-decoration: none;
    color: gray;
 }

 .listtop {
    list-style-type: none;
    padding: 2px;

 }

 .listtop a {
    text-decoration: none;
    color: white;
 }



